{% extends 'base_center.html.twig' %}

{% block title %}
	{{ 'Register.Register'|trans|raw }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="card rounded-4 shadow m-3">
		<div class="card-body">
			<img src="{{ asset('assets/img/logo/logo-horizontal.svg') }}" alt=" Mon Support by Yellow Cactus" class="d-inline-block align-text-top mb-2 mx-3">
			<h5 class="card-title py-3">
				<i class="fa-regular fa-address-card"></i>
				{{ 'Register.Create an account'|trans|raw }}</h5>

			{{ form_start(registrationForm) }}

			{{ form_errors(registrationForm) }}

			{# Email en form-floating #}
			{{ form_row(registrationForm.email, {
                label: 'Register.Email',
                row_attr: { class: 'form-floating' },
                attr: { placeholder: ' ' }
            }) }}

			{# Mot de passe en form-floating #}
			{{ form_row(registrationForm.plainPassword, {
                label: 'Register.Password'|trans,
                row_attr: { class: 'form-floating' },
                attr: { placeholder: ' ' }
            }) }}

			{# Case à cocher en form-check #}
			{{ form_row(registrationForm.agreeTerms, {
                label: 'Register.Agree terms'|trans,
                row_attr: { class: 'form-check p-0 mb-3' },
                label_attr: { class: 'form-check-label' },
                attr: { class: 'form-check-input' }
            }) }}

			<button type="submit" class="btn btn-orange w-100 my-3">{{ 'Register.Register'|trans|raw }}</button>

			{{ form_end(registrationForm) }}
			<p>
				<a href="{{ path('app_home') }}" class="btn btn-link p-0 float-end text-secondary">{{ 'Global.Cancel'|trans|raw }}</a>
			</p>
		</div>
	</div>
{% endblock %}
