{{ form_start(form) }}
{{ form_widget(form) }}
<div class="btn-group mt-3" role="group" aria-label="Basic example">
	<button class="btn btn-primary">{{ 'Btn.Save'|trans|raw }}</button>
	<a href="{{ path('app_home') }}" class="btn btn-outline-primary">{{ 'Btn.Back'|trans|raw }}</a>
</div>
{{ form_end(form) }}
