{% extends 'base.html.twig' %}
{% block title %}
	{{ 'Contact.List'|trans|raw }}
{% endblock %}
{% block body %}
	<h1 class="mb-4">{{ 'Contact.List'|trans|raw }}</h1>
	<div class="table-responsive-lg">
		<table class="table align-middle table-xs table-bordered table-hover">
			<thead>
				<tr>
					<th class="text-left">{{ 'Contact.Id'|trans|raw }}</th>
					<th class="text-left">{{ 'Contact.Name'|trans|raw }}</th>
					<th class="text-left">{{ 'Contact.Email'|trans|raw }}</th>
					<th class="text-left">{{ 'Contact.Phone'|trans|raw }}</th>
					<th class="text-left">{{ 'Contact.WhatKind'|trans|raw }}</th>
					<th class="text-left">{{ 'Contact.Need'|trans|raw }}</th>

					<th>{{ 'Global.Actions'|trans|raw }}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in contacts %}
					<tr>
						<td class="text-left">{{ item.id }}</td>
						<td class="text-left">{{ item.name }}</td>
						<td class="text-left">{{ item.email }}</td>
						<td class="text-left">{{ item.phone }}</td>
						<td class="text-left">{{ ('Contact.Type.' ~ item.type|capitalize)|trans }}</td>
						<td class="text-left">{{ item.need }}</td>

						<td>
							<a href="{{ path('app_contact_show', {'id': item.id}) }}" class="btn btn-link text-decoration-none text-orange">{{ 'Btn.View'|trans|raw }}</a>
							<a href="{{ path('app_contact_edit', {'id': item.id}) }}" class="btn btn-link text-decoration-none text-orange">{{ 'Btn.Edit'|trans|raw }}</a>
							{% include 'contact/_delete_form.html.twig' with { 'contact': item } %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a href="{{ path('app_contact_new') }}" class="btn btn-orange mt-3">{{ 'Btn.New'|trans|raw }}</a>
{% endblock %}
