{{ form_start(form) }}
<div class="row">
	{{ form_row(form.companyStatus) }}
	{{ form_row(form.name) }}
	{{ form_row(form.siret) }}
	{{ form_row(form.vatNumber) }}
	{{ form_row(form.emailCompany) }}
	{{ form_row(form.phoneCompany) }}
	{{ form_row(form.website) }}
	{{ form_row(form.addressLine1) }}
	{{ form_row(form.addressLine2) }}
	{{ form_row(form.postalCode) }}
	{{ form_row(form.city) }}
	{{ form_row(form.countryCode) }}
	{{ form_row(form.notes) }}
	{{ form_row(form.billingContactId) }}
</div>
{{ form_rest(form) }}
<div class="btn-group mt-3" role="group" aria-label="Basic example">
	<button class="btn btn-primary">{{ 'Btn.Save'|trans|raw }}</button>
	<a href="{{ path('app_company_index') }}" class="btn btn-outline-primary">{{ 'Btn.Back'|trans|raw }}</a>
</div>
{{ form_end(form, { render_rest: false }) }}
