{% extends 'base.html.twig' %}
{% block title %}
	{{ 'Company.List'|trans|raw }}
{% endblock %}
{% block body %}
	<h1 class="mb-4">{{ 'Company.List'|trans|raw }}</h1>
	<div class="table-responsive-lg">
		<table class="table align-middle table-sm table-bordered table-hover">
			<thead>
				<tr>
					<th class="text-left">{{ 'Company.Id'|trans|raw }}</th>
					<th class="text-left">{{ 'Company.CompanyStatus'|trans|raw }}</th>
					<th class="text-left">{{ 'Company.Name'|trans|raw }}</th>
					<th class="text-left">{{ 'Company.Siret'|trans|raw }}</th>
					<th class="text-left">{{ 'Company.VatNumber'|trans|raw }}</th>
					<th class="text-left">{{ 'Company.PostalCode'|trans|raw }}</th>
					<th class="text-left">{{ 'Company.City'|trans|raw }}</th>
					<th class="text-left">{{ 'Company.CountryCode'|trans|raw }}</th>

					<th>{{ 'Global.Actions'|trans|raw }}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in companies %}
					<tr>
						<td class="text-left">{{ item.id }}</td>
						<td class="text-left">{{ item.companyStatus ? item.companyStatus.value : '' }}</td>
						<td class="text-left">{{ item.name }}</td>
						<td class="text-left">{{ item.siret }}</td>
						<td class="text-left">{{ item.vatNumber }}</td>
						<td class="text-left">{{ item.postalCode }}</td>
						<td class="text-left">{{ item.city }}</td>
						<td class="text-left">{{ item.countryCode }}</td>
						<td>
							<a href="{{ path('app_company_show', {'id': item.id}) }}" class="btn btn-link text-decoration-none text-primary">{{ 'Btn.View'|trans|raw }}</a>
							<a href="{{ path('app_company_edit', {'id': item.id}) }}" class="btn btn-link text-decoration-none text-primary">{{ 'Btn.Edit'|trans|raw }}</a>
							{% include 'company/_delete_form.html.twig' with { 'company': item } %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<a href="{{ path('app_company_new') }}" class="btn btn-orange mt-3">{{ 'Btn.New'|trans|raw }}</a>
{% endblock %}
