<!DOCTYPE html>
<html lang="fr" data-bs-theme="light" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ include('tpl/_meta.html.twig') }}
        {{ include('tpl/_favicon.html.twig') }}
		<title>
			{% block title %}
				Bienvenue !
			{% endblock %}
		</title>
		
		{% block stylesheets %}
			{{ include('tpl/_style.html.twig') }}
		{% endblock %}
		{% block javascripts %}
			{{ include('tpl/_script.html.twig') }}
		{% endblock %}
	</head>
	<body class="body d-flex flex-column h-100 bg-body-tertiary">
		{% set currentRoute = app.request.attributes.get('_route') %}
		{{ include('tpl/_nav_public.html.twig') }}
		<div class="container">
			<main class="flex-shrink-0">
				{% include 'tpl/_flash.html.twig' %}
				{% block body %}{% endblock %}
			</main>
		</div>
		{{ include('tpl/_footer.html.twig') }}
	</body>
</html>
