<!DOCTYPE html>
<html lang="fr" data-bs-theme="light" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block meta %}
			<meta name="robots" content="index,follow">
			<meta name="description" content="Support informatique, infogérance et cybersécurité pour PME – dépannage rapide, contrats sans engagement, devis 24h.">
		{% endblock %}
		{% block favicons %}
			<link rel="manifest" href="/manifest.json">
            <link rel="icon" href="{{ asset('img/favicon/favicon.svg') }}" type="image/svg+xml">
			<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
			<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
			<link rel="shortcut icon" href="/favicon.ico"/>
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
			<meta name="apple-mobile-web-app-title" content="informatique"/>
		{% endblock %}
		<title>
			{% block title %}
				Bienvenue !
			{% endblock %}
		</title>
		
		{% block stylesheets %}
			{{ include('tpl/_style.html.twig') }}
		{% endblock %}
		{% block javascripts %}
			{{ include('tpl/_script.html.twig') }}
		{% endblock %}
	</head>
	<body class="body d-flex flex-column h-100 bg-body-tertiary">
		{% set currentRoute = app.request.attributes.get('_route') %}
		{{ include('tpl/_nav_public.html.twig') }}
		<div class="container">
			<main class="flex-shrink-0">
				{% include 'tpl/_flash.html.twig' %}
				{% block body %}{% endblock %}
			</main>
		</div>
		{{ include('tpl/_footer.html.twig') }}
	</body>
</html>
