<!DOCTYPE html>
<html lang="fr" data-bs-theme="light" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
		rel="manifest" href="/manifest.json">
		{# ===== FAVICONS (modern + Apple) ===== #}
		{% block favicons %}
			{# PNG fallbacks for browsers that don't support SVG favicons #}
			<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32.png') }}">
			<link
			rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16.png') }}">

			{# Apple Touch Icon (iOS/iPadOS doesn't read manifest for icons) #}
			<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/favicon-180.png') }}">

			{# Optional: pinned tab (Safari) if you provide the asset #}
			{# <link rel="mask-icon" href="{{ asset('img/safari-pinned-tab.svg') }}" color="#ff6a00"> #}

			{# Theme color for Android/Windows tiles #}
		<meta name="theme-color" content="#ffffff"> {# <meta name="msapplication-TileImage" content="{{ asset('img/favicon/favicon-144.png') }}"> #}
			{# <meta name="msapplication-TileColor" content="#ffffff"> #}
		{% endblock %}
		<title>
			{% block title %}Support informatique
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/favicon/favicon.svg') }}" type="image/svg+xml">
		{% block stylesheets %}
			{{ include('tpl/_style.html.twig') }}
		{% endblock %}
		{% block javascripts %}
			{{ include('tpl/_script.html.twig') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column h-100 bg-body-tertiary">
		{% set currentRoute = app.request.attributes.get('_route') %}
		{{ include('tpl/_nav.html.twig') }}
		<div class="container pb-5">
			<main class="flex-shrink-0">
				{% include 'tpl/_flash.html.twig' %}
				{% block body %}{% endblock %}
			</main>
		</div>
		{{ include('tpl/_footer.html.twig') }}
	</body>
</html>
