{# templates/user/_form.html.twig #}
{{ form_start(form) }}
<div class="row">
	{{ form_row(form.email) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.phone) }}
	{{ form_row(form.company) }}
	{{ form_row(form.userStatus) }}
	{{ form_row(form.password) }}
	{{ form_row(form.roles) }}
	{{ form_row(form.isVerified) }}
	{{ form_row(form.agreeTerms) }}
	{{ form_row(form.channels) }}
	{{ form_row(form.note) }}
	{{ form_row(form.lastLoginAt) }}
	{{ form_row(form.createdAt) }}
	{{ form_row(form.updatedAt) }}
</div>
<div class="btn-group mt-3" role="group" aria-label="Basic example">
	<button type="submit" class="btn btn-primary">{{ 'Btn.Save'|trans|raw }}</button>
	<a href="{{ path('app_user_index') }}" class="btn btn-outline-primary">{{ 'Btn.Back'|trans|raw }}</a>
</div>
{{ form_rest(form) }}

{{ form_end(form) }}
