{% extends 'base.html.twig' %}
{% block title %}Voir User
{% endblock %}
{% block body %}
	<h1>Détails de User</h1>
	<dl class="row">
		<dt class="col-sm-3">Id</dt>
		<dd class="col-sm-9">{{ user.id }}</dd>
		<dt class="col-sm-3">Email</dt>
		<dd class="col-sm-9">{{ user.email }}</dd>
		<dt class="col-sm-3">Roles</dt>
		<dd class="col-sm-9">{{ user.roles }}</dd>
		<dt class="col-sm-3">Password</dt>
		<dd class="col-sm-9">{{ user.password }}</dd>
	</dl>
	<div class="btn-group" role="group" aria-label="Basic example">
		<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-orange">Modifier</a>
		<a href="{{ path('app_user_index') }}" class="btn btn-outline-orange">Retour</a>
	</div>
{% endblock %}
